# Logs
logs
*.log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage
coverage/*

# Compiled
dist
dist/*

# Dependency directories
node_modules
node_modules/*

#webstorm
.idea
.idea/*

#karma-generated
karma-*
karma-*/

# generated
ts-node/
ts-node/*

# yarn
yarn.lock

#vs
.history
.history/*