.jumbotron-articles{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  .add-contributor-panel{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .add-contributor-row{
      display:flex;
      flex-direction: row;
      align-items: center;
      margin: 5px;

      .delete-contributor-container{
        height: 50px;
        width:50px;
        display:flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .form-footer{
    width: 300px;
    display:flex;
    justify-content: space-between;
  }
}
