<div class="container">
    <div class="jumbotron jumbotron-articles">
        <div *ngIf="error" class="alert alert-danger"> {{error}}</div>
        <div *ngIf="!error">
            <article-box [article]="article" *ngFor="let article of articles; trackBy:trackArticle"></article-box>
            <form [formGroup]="articleForm" (ngSubmit)="onSubmit(articleForm)">
                <div class="form-group">
                    <h4>Aticle ID:</h4>
                    <input type="number" class="form-control" id="articleid" placeholder="Id?" formControlName="id">
                </div>
                <div class="form-group">
                    <h4>Title:</h4>
                    <input type="text" class="form-control" id="titleinput" placeholder="Title?"
                           formControlName="title">
                </div>
                <h4>Author:</h4>
                <div class="form-group" formGroupName="author">
                    <label>Id</label>
                    <input type="number" class="form-control" id="idinput" placeholder="Id?" formControlName="id">
                    <label>Name</label>
                    <input type="text" class="form-control" id="nameinput" placeholder="Name?" formControlName="name">
                </div>
                <h4>Contributors:</h4>
                <div class="form-group" formArrayName="contributors">
                    <div class="add-contributor-panel"
                         *ngFor="let address of articleForm.controls.contributors.controls; let i=index">
                        <div class="add-contributor-row">
                            <div class="delete-contributor-container">
                                <button type="button" class="btn btn-danger" (click)="removeContributor(i)">X</button>
                            </div>

                            <div [formGroupName]="i">
                                <label>Id</label>
                                <input type="number" class="form-control" placeholder="Id?" formControlName="id">
                                <label>Name</label>
                                <input type="text" class="form-control" placeholder="Name?" formControlName="name">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-primary" (click)="addContributor()">Add Contributor</button>
                </div>
                <div class="form-footer" style="margin-top: 20px;">
                    <input type="text" #toRemove placeholder="Id?"/>
                    <button type='button' class="btn btn-danger" (click)="onRemoveSubmit(toRemove.value)">Remove
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

